@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'

body 
    div 
        display: flex
        justify-content: center

    nav 
        display: flex

        div:nth-child(3)
            i 
                font-size: 80% 

    .navbar-light 
        .navbar-nav 
            .nav-link 
                font-size: 90%
                   
      

    #empo
        padding: 55px 0

        img 
            width: 80%
        

