@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css'
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css'

body 
    font-family: 'Source Sans Pro', sans-serif
    header   
        position: relative
     
        z-index: 10
        div         
            display: flex
            justify-content: center

        
        nav         
            display: flex
        
            div:nth-child(3)
                i 
                    font-size: 80% 
        
        .navbar-light 
            .navbar-nav 
                .nav-link 
                    font-size: 90%
                    text-transform: uppercase
   
        #empo
            padding: 55px 0
        
            img         
                width: 80%

    .section1 

        background-color: rgb(243, 243, 243)

        .sec1
            display: flex
            justify-content: center   
            align-items: center
            
            div 
            
                #tith3 
                    font-size: 300%
                    color: rgb(189, 88, 78)
            
                h1 
                    font-weight: bold            
                    font-size: 700%

                button 
            
                    text-transform: uppercase
                    border: 0            
                    border-radius: 35px
                    padding: 15px 40px
                    font-size: 80%
                    background-color: rgb(189, 88, 78)            
                    color: white
                    font-weight: bold
        
                .tex 
                    color: #b3b3b3
                
                img 
                    width: 65%

            .sec11 
                padding-left: 250px
                padding-right: 0

    .section2
        div
            display: flex
            justify-content: center

            div
                height: 205px
                background-size: cover
                background-position: center
                display: flex
                align-items: center
                width: 30%
                margin: 0 10px
                
                a
                    text-align: center
                    color: white 
                    border-bottom: solid 1px white
                    align-items: center
                    font-size: 170%
                    font-weight: bold 

            .serv1 
                
                background-image: url('../img/services/service-1.jpg')
                

            .serv2 
              
                background-image: url('../img/services/service-2.jpg')

            .serv3 
            
                background-image: url('../img/services/slider-3.jpg')
