@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
body {
  font-family: "Source Sans Pro", sans-serif;
}
body header {
  position: relative;
  z-index: 10;
}
body header div {
  display: flex;
  justify-content: center;
}
body header nav {
  display: flex;
}
body header nav div:nth-child(3) i {
  font-size: 80%;
}
body header .navbar-light .navbar-nav .nav-link {
  font-size: 90%;
  text-transform: uppercase;
}
body header #empo {
  padding: 55px 0;
}
body header #empo img {
  width: 80%;
}
body .section1 {
  background-color: #f3f3f3;
}
body .section1 .sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section1 .sec1 div #tith3 {
  font-size: 300%;
  color: #bd584e;
}
body .section1 .sec1 div h1 {
  font-weight: bold;
  font-size: 700%;
}
body .section1 .sec1 div button {
  text-transform: uppercase;
  border: 0;
  border-radius: 35px;
  padding: 15px 40px;
  font-size: 80%;
  background-color: #bd584e;
  color: white;
  font-weight: bold;
}
body .section1 .sec1 div .tex {
  color: #b3b3b3;
}
body .section1 .sec1 div img {
  width: 65%;
}
body .section1 .sec1 .sec11 {
  padding-left: 250px;
  padding-right: 0;
}
body .section2 div {
  display: flex;
  justify-content: center;
}
body .section2 div div {
  height: 205px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 30%;
  margin: 0 10px;
}
body .section2 div div a {
  text-align: center;
  color: white;
  border-bottom: solid 1px white;
  align-items: center;
  font-size: 170%;
  font-weight: bold;
}
body .section2 div .serv1 {
  background-image: url("../img/services/service-1.jpg");
}
body .section2 div .serv2 {
  background-image: url("../img/services/service-2.jpg");
}
body .section2 div .serv3 {
  background-image: url("../img/services/slider-3.jpg");
}
body .section3 {
  margin-top: 75px;
}
body .section3 h3 {
  padding-bottom: 50px;
  text-align: center;
  font-weight: bold;
}
body .section3 .row div div .onsale {
  background-color: #bd584e;
  color: white;
  font-size: 13px;
  font-weight: 600;
  line-height: 48px;
  width: 48px;
  padding: 0px 0 0px 10px;
  height: 48px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 20px;
}
body .section3 .row div div a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
body .section3 .row div div del {
  color: #b6b6b6;
  padding-right: 5px;
  font-weight: bold;
}
body .section3 .row div div p {
  color: #bd584e;
  font-weight: bold;
}
body .section5 {
  background-image: url("../img/cta-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 709.9px;
  transform: translate(0px, 35.1891px);
  display: flex;
  align-items: center;
  justify-content: center;
}
body .section5 div {
  text-align: center;
}
body .section5 div h1 {
  font-weight: bold;
  color: white;
}
body .section5 div button {
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 25px;
  background-color: #bd584e;
  padding: 10px 30px;
}

/*# sourceMappingURL=style.css.map */
